<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Faker_Customer" xsi:type="object">Xigen\Faker\Console\Command\Customer</item>
                <item name="Faker_Product" xsi:type="object">Xigen\Faker\Console\Command\Product</item>
                <item name="Faker_Category" xsi:type="object">Xigen\Faker\Console\Command\Category</item>
                <item name="Faker_Order" xsi:type="object">Xigen\Faker\Console\Command\Order</item>
                <item name="Faker_Review" xsi:type="object">Xigen\Faker\Console\Command\Review</item>
            </argument>
        </arguments>
    </type>
</config>
